<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Biblioteca</a>
    <button class="navbar-toggler" click="show = !show" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" ngClass="{'show': show}" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/cadastrar-autor">Cadastrar Autor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cadastrar-livro">Cadastrar Livro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-autores">Listar Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-livros">Listar Livros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
